body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

* {
    margin: 0;
    padding:0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dash-container{
    background-color: black;
    min-height: 100vh;
}
.song-display{
    position: relative;
    transition: background 0.5s ease-in-out;
    /* transition: 0.5s ease-in-out; */
    height:100vh;
    width:100vw;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    /* flex-direction: column; */
}

.fullhw{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    min-width: 100%;
    min-height:100%;
}

.cover-image{
    width: 500px;
    height: 500px;
    transition:0.2s;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.song-info{
    position: relative;
    bottom:0;
    margin:0 100px;
    transition: 2s;
    font-family: 'Roboto', sans-serif;
}

.song-info h1{
    margin: 0;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 60px;
    max-width: 100%;
    color: var(--color);
    max-width: 40vw;
    /* text-shadow: 0px 0px 13px rgba(0,0,0,0.3); */
}

.song-info h2{
    margin: 0;
    font-weight: 400;
    font-size: 36px;
    margin-left:3px;
    color: var(--color);
    /* text-shadow: 0px 0px 13px rgba(0,0,0,0.3); */
}

.dark-text{
    --color: #212529;
}

.light-text{
    --color: #dddddd;
}

.song-progress{
    margin-bottom:15px;
}

.pbarouter{
    width: 100%;;
    height:6px;
    border-radius: 2px;
    background: gray;
    background-color: rgba(0, 0, 0, 0.25);
}

.pbarinner{
    border-radius: 2px;
    background: var(--color);
    height: 100%;
    transition:50ms linear;

}